@import "colors.rasi"

configuration {
    modi: "run,drun";
    show-icons: false;
    font: "JetBrainsMono Nerd Font, Vazirmatn, Noto Sans Arabic 12";
    drun-display-format: "{name}";
}

* {
    background-color: transparent;
    text-color: @text;
}

window {
    background-color: @bg-dark;
    border-color: @primary;
    border: 2px;
    border-radius: 0px;
    padding: 14px;
    width: 500px;
}

inputbar {
    background-color: @surface;
    text-color: @text;
    border-radius: 0px;
    padding: 10px;
    margin: 0 0 12px 0;
    children: [ prompt, entry ];
}

prompt {
    text-color: @primary;
    font-weight: bold;
    margin: 0 8px 0 0;
}

entry {
    text-color: @text;
}

listview {
    lines: 8;
    spacing: 4px;
    scrollbar: false;
}

element {
    padding: 8px 12px;
    border-radius: 0px;
}

element normal.normal {
    background-color: transparent;
    text-color: @text;
}

element alternate.normal {
    background-color: transparent;
    text-color: @text;
}

element selected.normal {
    background-color: @primary;
    text-color: @bg-dark;
}